body{
    background: url(../images/texture.jpg) repeat;
    font-family:Georgia;
    font-size: 15px;
} 

/* body {
    background: linear-gradient(to right, #666 30%, burlywood 70%);
    background-size: 200% 100%;
    animation: colorChange 5s infinite;
  }
  
  @keyframes colorChange {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -0% 0;
    }
  }
*/

strong{font-weight: bold;}
.clr{clear: both;}

h1{
    font-size: 86px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 21px;
}

#container{
	width:930px;
	margin:50px auto 10px auto;
	padding:20px 30px;
	border-top:black solid 6px;
	border-bottom:black solid 6px;
	background:#f5f5f5;
}

#header{
	padding:10px 0;
	border-bottom:black dashed 5px;
	overflow:hidden;
}

#header #name{
	float:left;
    font-size:20px;
}

#header #contact{
	float:right;
    font-size: 18px;
}

.row{
	padding:20px 0 10px;
	font-size:20px;
	overflow:hidden;
	border-bottom:black solid 5px;
}

.lp{
    font-size:20px;
	overflow:hidden;
    padding:20px 0 10px;
}

#profile p{
    line-height: 1.6em;
    font-size: 20px;
}


#skills ul{
	width:700px;
}

#skills ul li{
	width:180px;
	padding:0 40px 0 0;
	font-size:18px;
    line-height:1.6em;
}

#technical table{
	width:700px
}

#technical table td{
	padding:7px;
    line-height:1.6em;
}

#experience div{
	width:700px;
	padding:10px 0;
}

#experience div h3,#education{
	font-style:normal;
	font-size:20px;
	line-height:1.6em;
}

#experience div li{
	font-style:oblique;
	font-size:18px;
	line-height:1.6em;
}

#experience div p{
	font-size:18px;
	line-height:1.6em;
}

#education div{
	width:700px;
	padding:10px 0;
}

#education div h3{
	font-style:oblique;
	font-size:20px;
	line-height:1.6em;
}


#education div p{
	font-style:normal;
	font-size:18px;
	line-height:1.6em;   
}

#footer{
	text-align:center;
	margin-bottom:10px;
}

